{% load static %}

<div class="btn-sidebar"><span class="fas fa-bars"></span></div>
<nav class="sidebar">
    <div class="text">VFD-PROJECT</div>
    <ul class="main_side">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'import_files_view' %}">Import files</a></li>
        <li><a href="{% url 'create_compare_price_view' %}">Create Files</a></li>
        {#        <li><a href="{% url 'clients_view' %}">Clients</a></li>#}
        {#        <li><a href="{% url 'ordersView' %}">Orders</a></li>#}
        {#        <li><a href="{% url 'activity_view' %}">Activity</a></li>#}
        {#        <li><a href="{% url 'profit_view' %}">Profit</a></li>#}
        {#        <li><a href="{% url 'reserves_view' %}">Reserves</a></li>#}
        {#        <li><a href="{% url 'sales_regions_view' %}">Sales</a></li>#}

        {# Раскрывающийся пункт меню #}
        {#                <li><a href="#" id="1">Pages <span class="fas fa-caret-down"></span> </a>#}
        {#                    <ul class="item-show-1">#}
        {#                        <li><a href="#">Contact us</a></li>#}
        {#                        <li><a href="#">Our Team</a></li>#}
        {#                    </ul>#}
        {#                </li>#}
        {#                <li><a href="#" id="2">Services <span class="fas fa-caret-down"></span> </a>#}
        {#                    <ul class="item-show-2">#}
        {#                        <li><a href="#">App Design</a></li>#}
        {#                        <li><a href="#">Web Design</a></li>#}
        {#                    </ul>#}
        {#                </li>#}

    </ul>
</nav>

<script>
    $('.btn-sidebar').click(function () {
        $(this).toggleClass("click");
        $('.sidebar').toggleClass("show");
    });

    $('.sidebar ul li a').click(function () {
        const id = $(this).attr('id');
        $('nav ul li ul.item-show-' + id).toggleClass("show");
        $('nav ul li #' + id + ' span').toggleClass("rotate");
    });

    $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script>